form
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    input
    {
        width: 100%;
        padding: 8px;
    }

    button
    {
        background-color: transparent;
        color: $todoGray;
        border: 1px solid $todoGray;
        padding: 0 15px;
        cursor: pointer;

        &[type=reset]
        {
            margin: 0 8px;        
        }
    }
}