.todo-action
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    & > span
    {
        cursor: pointer;
        margin-right: 5px;

        &.icon-check
        {
            color: #03a45e;
        }

        &.icon-star,
        &.icon-star-empty,        
        {
            color: #fef102;
        }

        &.icon-close
        {
            // font-size: 13px;
            color: #ee1c25
        }

        &:last-child
        {
            margin-right: 0;
        }
    }
}