.todo-task-list
{
    padding: 0;
    margin: 20px 0 0;
}

.todo-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid $todoGray;
    border-bottom: 0;

    &:first-of-type
    {
        border-top-left-radius: $todoBorderRadius;
        border-top-right-radius: $todoBorderRadius;
    }

    &:last-of-type
    {
        border-bottom: 1px solid $todoGray;
        border-bottom-left-radius: $todoBorderRadius;
        border-bottom-right-radius: $todoBorderRadius;
    }

    .text
    {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        color: $todoGray;
        
        &.text-crossed
        {
            text-decoration: line-through;
        }
    }
}